.container {
    display: grid;
    grid-template-areas: "text card";
    grid-template-columns: 48% 48%;
    gap: 4%;
    height: calc(80vh);
    padding: clamp(1.375rem, 0.73rem + 2.646vh, 2rem) clamp(1.375rem, 0.73rem + 2.646vw, 2rem);
    align-items: center;
    position: relative;

    .btn {
        cursor: pointer;
        width: clamp(2rem, 1.355rem + 2.646vw, 2.625rem);
        height: clamp(1.5rem, 0.984rem + 2.116vh, 2rem);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .btn-next {
        color: white;
        background-color: red;
        -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.5);
        box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 50%;
        right: -1.5rem;
    }
    .btn-previous {
        position: absolute;
        bottom: 50%;
        left: -1.5rem;

        background-color: rgba(128, 128, 128, 0.8);
        -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.5);
        box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.5);
    }

    .navigate-icon {
        font-size: clamp(1.125rem, 0.738rem + 1.587vh, 1.5rem);
    }
}
.text-container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: clamp(2rem, 1.484rem + 2.116vh, 2.5rem);
    color: white;
    h2 {
        font-size: clamp(2.25rem, 2.091rem + 0.654vw, 2.875rem);
    }
    p {
        font-size: clamp(1.625rem, 1.466rem + 0.654vw, 2.25rem);
    }
}

.review-container {
    grid-area: text;
    display: flex;
    position: relative;
    .image__container {
        display: flex;
        align-items: center;
        img:first-child {
            margin-left: 0;
        }
        img {
            -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.5);
            box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.5);
            margin-left: -1rem;
            width: clamp(1.75rem, 1.623rem + 0.523vw, 2.25rem);
            height: clamp(2.813rem, 2.637rem + 0.719vh, 3.5rem);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }

    i {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}
.custom-icon {
    margin-left: -1.5rem;
    color: orange;
    font-size: clamp(2.813rem, 2.637rem + 0.719vh, 3.5rem);
}

.qualification__container {
    display: flex;
    align-items: center;

    i {
        margin-left: 1rem;
        color: yellow;
        font-size: clamp(2.25rem, 2.154rem + 0.392vw, 2.625rem);
    }

    p {
        font-weight: 200;
        margin-left: 1rem;
        color: white;
        font-size: clamp(1rem, 0.936rem + 0.261vw, 1.25rem);
    }
}

.profile__card {
    position: relative;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 0.936rem + 0.261vw, 1.25rem);
    background-color: rgba(70, 70, 70, 255);
    -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.69);
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.69);
    grid-area: card;
    width: 65%;
    height: clamp(19.375rem, 19.056rem + 1.307vw, 20.625rem);
    border-radius: 15px;
    padding: 1rem 1.5rem 1rem 1.5rem;

    img {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    i {
        color: yellow;
        font-size: 2rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .profile__header {
        display: flex;

        .user__data {
            display: flex;
            flex-direction: column;
            margin: 0.5rem 0 0 1rem;

            h2 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1rem;
                text-align: justify;
            }
        }
    }
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    p {
        text-align: justify;
    }
}

.profile__card.active {
    opacity: 1;
}

.img-arrow {
    position: absolute;
    bottom: 30%;
    left: 49%;
    width: 13vw;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;

        .img-arrow {
            display: none;
        }
    }
}

@media (max-width: 420px) {
    .review-container {
        display: flex;
        flex-direction: row;
    }
    .profile__card {
        height: 40rem;
        width: 90vw;
        .btn-next {
            right: -0.5rem;
        }
        .btn-previous {
            position: absolute;
            bottom: 50%;
            left: -0.5rem;
        }
    }
}
