<div class="container">
    <div class="title-container">
        <h2>Choose The Best Plan</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta sequi vitae at commodi suscipit molestiae
            dolorum mollitia ab dolores.</p>

        <div class="toggle-container">
            <input type="checkbox" id="toggle-switch" [(ngModel)]="isAnnual" class="toggle-switch">
            <label for="toggle-switch" class="toggle-label">
                <span class="toggle-text">Monthly</span>
                <span class="toggle-button"></span>
                <span class="toggle-text">Annual</span>
            </label>
        </div>
    </div>

    <div class="cards-container">
        <div *ngFor="let plan of plans; let i = index" [ngClass]="{'card': true, 'card-active': activated === i}"
            [@shine]="shiningIndex === i ? 'shining' : 'default'" class="card">
            <h2>{{plan.name}}</h2>
            <h3 [ngClass]="isAnnual ? 'bounce' : 'bounceMonth'">{{isAnnual ? plan.priceYear : plan.priceMonth}}
                <span>/Per{{isAnnual ? 'Year' : 'Month'}}</span>
            </h3>
            <div *ngFor="let characteristic of plan.characteristics">
                <p><img src="../../../assets/check.png" alt="">{{characteristic}}</p>
            </div>
            <button *ngIf="activated !== i" (click)="onShine(i)">Choose plan</button>
            <button [@rotateButton]="buttonState" (@rotateButton.done)="resetButtonState()" ngClass="btn btn-buy"
                *ngIf="activated === i">Buy plan</button>
        </div>
    </div>
</div>