* {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 clamp(1.875rem, 0.284rem + 7.955vw, 6.25rem);
  height: calc(100vh - 5rem);
  position: relative;
}
.container .container--img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: clamp(6.25rem, -7.159rem + 67.045vw, 43.125rem);
}

.container h2 {
  text-transform: uppercase;
  color: white;
  font-size: clamp(2rem, 1.091rem + 4.545vw, 4.5rem);
}

.container p {
  color: rgba(228, 223, 223, 0.6);
  font-size: clamp(0.938rem, 0.733rem + 1.023vw, 1.5rem);
  width: 80%;
  font-weight: 100;
}

.container__content {
  display: flex;
  flex-direction: column;
  width: 48vw;
  height: 100%;
  margin-top: 10vh;
  gap: clamp(0.938rem, 0.551rem + 1.932vw, 2rem);
}

.content__started {
  display: flex;
  align-items: center;
}
.content__started button {
  width: 13rem;
  height: 4rem;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: red;
  -webkit-box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  font-size: clamp(0.625rem, 0.511rem + 0.568vw, 0.938rem);
}
.content__started img {
  margin-left: clamp(0.625rem, 0.352rem + 1.364vw, 1.375rem);
  width: 4rem;
  height: 4rem;
}
.content__started h3 {
  text-align: center;
  margin-left: 1rem;
  color: white;
  font-weight: 200;
  font-size: clamp(0.625rem, 0.352rem + 1.364vw, 1.375rem);
}

.data-container {
  display: flex;
  gap: clamp(1.125rem, 0.925rem + 1vw, 1.375rem);
}
.data-container .content__data {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(19.375rem, 23.011rem - 18.182vw, 9.375rem);
  border: 2px solid white;
}
.data-container .content__data p {
  font-size: 1.2rem;
  width: auto;
}
.data-container .content__data h3 {
  font-size: clamp(0.75rem, 0.341rem + 2.045vw, 1.875rem);
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .container img {
    display: none;
  }
  .container__content {
    width: 90vw;
  }
  .container__content p {
    text-align: justify;
    width: 100%;
    font-size: clamp(1.125rem, 0.925rem + 1vw, 1.375rem);
    font-weight: 400;
  }
  .data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .data-container .content__data--bar {
    width: 80%;
  }
  .data-container h3,
  .data-container p {
    width: auto;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .data-container .content__data {
    padding: clamp(0.5rem, 0.4rem + 0.5vw, 0.625rem) 0 clamp(0.5rem, 0.4rem + 0.5vw, 0.625rem) 0;
    margin-top: clamp(0.938rem, 0.688rem + 1.25vw, 1.25rem);
    border: 2px solid orange;
    background-color: rgb(179, 71, 21);
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.75);
  }
  .data-container .content__data h3 {
    font-size: clamp(1.875rem, 1.275rem + 3vw, 2.625rem);
  }
}/*# sourceMappingURL=home.component.css.map */