<div class="container">
    <div class="container__content">
        <h2>Get healthy body with the perfect exercises </h2>
        <p>We are always there to help you to make a healthy body and mind through the power of fitness.</p>
        <div class="content__started">
            <button>Get Started</button>
            <img src="../../../assets/play.png" alt="">
            <h3>Watch video</h3>
        </div>
        <div class="data-container">
            <div class="content__data">
                <h3>105+</h3>
                <p>Expert Trainers</p>
            </div>
            <div class="content__data">
                <h3>970+</h3>
                <p>Member Joined</p>
            </div>
            <div class="content__data">
                <h3>145+</h3>
                <p>Fitness programs</p>
            </div>
        </div>

        <!-- <a href="https://www.flaticon.es/iconos-gratis/video" title="vídeo iconos">Vídeo iconos creados por Freepik -
            Flaticon</a>
        <a href="https://www.flaticon.es/iconos-gratis/dumbell" title="dumbell iconos">Dumbell iconos creados por
            Andrejs
            Kirma - Flaticon</a> -->
    </div>

    <img src="../../../assets/font_home.png" alt="" class="container--img">
</div>