<div class="container">
    <div class="about-us">
        <div class="container__image">
            <img class="img img-about-us" src="../../../assets/training-image.jpg" alt="">
        </div>
        <div class="text text-about-us">
            <h2>Get Ready To Reach Your Fitness Goals.
            </h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis necessitatibus illum ad provident quos
                earum beatae culpa nemo inventore molestiae dignissimos corporis molestias sit, porro, commodi ipsam
                magni suscipit doloremque illum ad provident quos
                earum beatae culpa nemo inventore molestiae dignissimos corporis molestias sit, porro, commodi ipsam
                magni suscipit doloremque.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis necessitatibus illum ad provident quos.
            </p>
            <button class="btn btn-submit">Free trial today</button>
        </div>
    </div>
</div>