h1 {
    font-size: 4rem;
}
.container__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 10vw;
    color: white;
}
.container__text p {
    font-size: 1.2rem;
    margin-top: 1.3rem;
}
.container__offers {
    display: flex;
    gap: 1rem;
    margin: 2rem 10vw;
}
.offer {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /*background: #085d7a;*/
    color: white;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-left: 3px solid #ff9e02;
}

img {
    width: 4vw;
    filter: invert(100%);
}
button {
    background: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

button img {
    width: 2vw;
}
