h1 {
    font-size: 4rem;
}
.container__text {
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem 10vw;
    color: white;

    h1 {
        text-align: center;
    }
}
.container__text p {
    font-size: 1.2rem;
    margin-top: 1.3rem;
}
.container__offers {
    display: flex;
    gap: 1rem;
    margin: 2rem 10vw;
}

.offer {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /*background: #085d7a;*/
    color: white;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-left: 3px solid #ff9e02;
}

.offer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(238, 55, 92);
    transition: width 0.4s ease-in-out;
    z-index: 0;
}

.offer:hover::before {
    width: 100%;
}

.offer:hover {
    cursor: pointer;
    color: white;
}

.offer > * {
    position: relative;
    z-index: 1;
}
img {
    width: 4vw;
    filter: invert(100%);
}
button {
    background: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

button img {
    width: 2vw;
}

@media (max-width: 768px) {
    .container__offers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5vh;
    }

    .offer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;

        img:first-child {
            width: 5vw;
            position: absolute;
            right: 0;
        }

        img:last-child {
            width: 3vw;
            position: relative;
        }
    }

    .container__text {
        p {
            text-align: justify;
        }
    }
}
