
<div class="container__programs">
    <div class="container__text">
        <h1>The best programs we offers for you</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ipsam eligendi reiciendis vero. Laudantium consequuntur temporibus sequi quidem unde fugiat voluptatibus saepe iusto fugit, eos id asperiores soluta exercitationem corrupti.</p>
    </div>
    <div class="container__offers">
        <div class="offer">
            <img src="../../../assets/icons8-gym-64.png" alt="">
            <h3>Strength Training</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitratione officiis libero, est dignissimos.</p>
            <button>
                Learn More
                <img src="../../../assets/icons8-arrow-100.png" alt="">
            </button>        </div>
        <div class="offer">
            <img src="../../../assets/icons8-yoga-90.png" alt="">
            <h3>Basic Yoga</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitratione officiis libero, est dignissimos.</p>
            <button>
                Learn More
                <img src="../../../assets/icons8-arrow-100.png" alt="">
            </button>        </div>
        <div class="offer">
            <img src="../../../assets/icons8-muscle-64.png" alt="">
            <h3>Body Building</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitratione officiis libero, est dignissimos.</p>
            <button>
                Learn More
                <img src="../../../assets/icons8-arrow-100.png" alt="">
            </button>        </div>
        <div class="offer">
            <img src="../../../assets/icons8-run-90.png" alt="">
            <h3>Weingth Loss</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitratione officiis libero, est dignissimos.</p>
            <button>
                Learn More
                <img src="../../../assets/icons8-arrow-100.png" alt="">
            </button>
        </div>
    </div>
</div>